    {{!-- <div class="mx-3 my-3 px-5 py-2 border"> --}}
      <li>

        <h4>{{name}}</h4>
        <h4>id: {{id}}</h4>
        <button class="eat-burger" data-id="{{id}}" >EAT</button>

      </li>
    {{!-- </div> --}}
